header {
    width: 100%;
    height: 50px;
    background-color: #444;
}
.header-center{
    height: 100%;
    width: 90%;
    padding: 5px;
    margin: 0 67px 0 67px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}
.header-center > a {
    margin-right: 20px;
}
.header-center img {
    width: 120px;
    cursor: pointer;
}
.header-search{
    width: 233px;
    height: 26px;
    background-color: #888;
    border-radius: 15px;
    transition: all 0.3s;
}
.header-search > span {
    width: 27px;
    height: 100%;
    text-align: center;
    line-height: 23px;
    color: #666;
    margin-left: 1px;
}
.header-search > input {
    padding: 0;
    width: 200px;
    height: 100%;
    border: none;
    outline: none;
    transition: all 0.3s;
    color: #666;
    background-color: #888;
}
.header-nav {
    height: 100%;
    width: 357px;
    margin-left:auto;

    display: flex;
    align-items: center;
}
.header-nav a {
    padding: 10px 15px;
    box-sizing: border-box;
    font-size: 13px;
    color: #ccc;
    text-align: center;
    line-height: 20px;
}