/* 每个页面的共同css部分 */
* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

i, em {
    font-style: normal;
}

b, strong {
    font-weight: normal;
}

img {
    vertical-align: middle;
    border: none;
}

html {
    /* overflow: hidden; */
    font-size: 26.6vw;
    height: 100%;
}
body {
    font-size: 16px;
    height: 100%;
    overflow: auto;
    background-color: #e1e1e1;
    font-size: 14px;
}
.clear:after {
    display: block;
    content: '';
    clear: both;
    height: 0;
    visibility: hidden;
    overflow: hidden;
}
.layout-left {
    width: 90%;
    margin: auto;
    padding: 15px;
    margin-bottom: 20px;
    margin-top: -15px;
}
.layout-left-left {
    width: 76%;
    float: left;
}
.layout-right {
    width: 23%;
    float: right;
}
.box-header {
    height: 50px;
    margin-bottom: 15px;
}
@media  only screen  and (max-width: 982px){
    .layout-right {
       display: none;
    }
    .layout-left {

        width: 100%;
    }
    .layout-left-left {
        width: 96%;
    }


   
 
}
@media  only screen  and (max-width: 812px) {
    header {
        height: 90px;
    }
    .box-header {
        height: 90px;
    }
   .header-nav {
       height: 78%;
       margin-left: 0;
   }
   .layout-left {
    margin-top: 40px;
   }
}
iframe {
    width: 100%;
    overflow: hidden;
    margin-bottom: 10px;
    /* position: absolute; */
    top: 0;

    
}
button {
    font-size: 13px !important;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
#iframe_bottom {
    margin-bottom: 0px;
    float: left;
}
.list-container {
    background-color: white;
    width: 290px;
    border-radius: 3px;
}
.list-header {
    width: 100%;
    height: 40px;
    color: #51585c;
    padding: 10px;
    font-size: 13px;
    box-sizing: border-box;
    background-color: #f6f6f6;
    border-radius: 3px 3px 0 0;
}
.list-section {
    border-radius: 0 0 3px 3px;
    color: #778087;
    padding: 10px;
    
}
.paGo {
    position: absolute;
    top: 2164px;
    width: 269px;
    height: 37px;
    left: 68px;
    /* background-color: red; */
    z-index: 0;
}